.strava-user {
    grid-area: user;
    text-align: center;
}

.strava-user img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.strava-user-info .name {
    margin: 10px 0;
    font-size: 0.9em;
}