.strava-app {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 900px;
}

.strava-activity-list {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 200px;
}

.strava-activity {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin:5px;
    padding: 5px;
    cursor: pointer;
}

.strava-activity.selected {
    background-color: #ff8c5b;
}

.strava-activity-details {
    margin: 5px;
    width: 75%;
}

.strava-activity-details .strava-activity-date {
    font-size: 0.9em;
}

.strava-activity-details .strava-activity-name {
    font-size: 2.1em;
    margin: 10px 0;
}

.strava-actvivity-stats {
    display: flex;
}

.strava-actvivity-stats .stat {
    margin-right: 15px;
    border-right: 1px solid #ddd;
    padding-right: 20px;
}

.strava-actvivity-stats .stat:last-child {
    padding: 0;
    border: none;
    margin: 0;
}

.stat-label, .stat-value {
    display: block;
}

.stat-label {
    font-size: 0.9em;
}

.stat-value {
    font-size: 1.9em;
}